        /* 声明字体图标 这里一定要注意路径的变化 */
        
        @font-face {
            font-family: 'icomoon';
            src: url('../fonts/icomoon.eot?tomleg');
            src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
            font-display: block;
        }
        /* 版心 */
        
        .w {
            width: 1200px;
            margin: 0 auto;
        }
        /* 页面最顶部 */
        
        .shortcut {
            height: 31px;
            background-color: rgb(241, 241, 241);
            line-height: 31px;
        }
        
        .shortcut ul li {
            float: left;
        }
        
        .shortcut_left {
            float: left;
        }
        
        .shortcut_right {
            float: right;
        }
        
        .shortcut .shortcut_right ul li:nth-child(even) {
            height: 12px;
            width: 1px;
            background-color: #666;
            margin: 9px 15px;
        }
        
        .arrow-icon::after {
            content: "\e91e";
            font-family: icomoon;
            margin-left: 6px;
        }
        
        .style_red {
            color: #c81623;
        }
        
        .header {
            height: 105px;
            position: relative;
        }
        
        .logo {
            width: 171px;
            height: 61px;
            position: absolute;
            top: 25px;
        }
        
        .logo a {
            display: block;
            width: 171px;
            height: 61px;
            background: url(../images/logo.png) no-repeat;
            font-size: 0;
            /* 隐藏文字 */
        }
        
        .search {
            width: 538px;
            height: 36px;
            position: absolute;
            top: 25px;
            left: 346px;
            border: 2px solid #b1191a;
        }
        
        .search input {
            height: 32px;
            width: 454px;
            padding-left: 10px;
        }
        
        .search button {
            width: 80px;
            height: 33px;
            color: #fff;
            background-color: #c81623;
        }
        
        .hotwords {
            width: 538px;
            height: 30px;
            position: absolute;
            top: 66px;
            left: 346px;
        }
        
        .hotwords a {
            margin: 0 10px;
        }
        
        .shopcar {
            width: 140px;
            height: 35px;
            border: 1px solid black;
            background-color: #f7f7f7;
            position: absolute;
            top: 25px;
            right: 60px;
            line-height: 35px;
            text-align: center;
        }
        
        .shopcar::before {
            content: "\e93a";
            font-family: icomoon;
            margin-right: 5px;
            color: #c81623;
        }
        
        .shopcar::after {
            content: "\E920";
            font-family: icomoon;
            font-size: 20px;
            vertical-align: middle;
            margin-left: 10px;
        }
        
        .count {
            height: 14px;
            border-radius: 12px 12px 12px 0;
            color: sandybrown;
            background-color: #c81623;
            padding: 0 5px;
            position: absolute;
            top: -5px;
            left: 100px;
            z-index: 1;
            line-height: 14px;
        }
        
        .nav {
            height: 47px;
            border-bottom: 2px solid #b1191a;
        }
        
        .dropdown {
            float: left;
            width: 210px;
            height: 45px;
            background-color: #b1191a;
        }
        
        .navitems {
            float: left;
        }
        
        .dropdown .dt {
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
            line-height: 45px;
            font-size: 16px;
        }
        
        .dropdown .dd {
            width: 210px;
            height: 465px;
            background-color: #c81623;
            position: relative;
            margin-top: 2px;
        }
        
        .dropdown:hover .dd {
            display: block;
            transition: 0.5s 1s;
        }
        
        .dropdown .dd ul li {
            height: 31px;
            line-height: 31px;
            margin: 0 2px;
        }
        
        .dropdown .dd ul li:hover {
            background-color: #fff;
        }
        
        .dropdown .dd ul li:hover a {
            color: #c81623;
        }
        
        .dropdown .dd ul li a {
            font-size: 14px;
            color: #fff;
            padding-left: 10px;
        }
        
        .dropdown .dd ul li::after {
            content: "\e920";
            font-family: icomoon;
            position: absolute;
            color: #fff;
            right: 5px;
            font-size: 14px;
        }
        
        .navitems ul li {
            float: left;
        }
        
        .navitems ul li a {
            display: inline-block;
            height: 45px;
            line-height: 45px;
            font-size: 14px;
            padding: 0 25px;
        }
        
        .footer {
            height: 415px;
            background-color: #f5f5f5;
            padding-top: 30px;
        }
        
        .mod_service {
            height: 80px;
            border-bottom: 1px solid #ccc;
        }
        
        .mod_service ul li {
            width: 300px;
            height: 50px;
            float: left;
            margin-left: -1px;
            padding-left: 35px;
            float: left;
        }
        
        .mod_service ul li h5 {
            width: 50px;
            height: 50px;
            background: url(../images/icons.png) no-repeat -252px -2px;
            float: left;
            margin-right: 8px;
        }
        
        .txt h4 {
            font-size: 14px;
            margin-left: 10px;
        }
        
        .txt p {
            font-size: 12px;
            margin-left: 10px;
        }
        
        .mod_help {
            height: 185px;
            border-bottom: 1px solid #ccc;
        }
        
        .mod_help dl {
            padding-top: 20px;
            padding-left: 50px;
            float: left;
            width: 200px;
        }
        
        .mod_help dl dt {
            font-size: 16px;
            margin-bottom: 10px;
        }
        
        .mod_help dl dd {
            font-size: 12px;
        }