.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.logo {
    padding: 18px;
}

.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.registerarea h3 span {
    float: right;
    font-size: 16px;
}

.registerarea h3 span a {
    color: #c81523;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.sucess {
    color: green;
}

.error_icon,
.sucess_icon {
    display: inline-block;
    background: url(../images/error.png) no-repeat;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 10px;
}

.sucess_icon {
    background: url(../images/success.png) no-repeat;
}

.safe {
    width: 330px;
    text-align: right;
}

.safe em {
    padding: 0 10px;
    color: #fff;
    margin-left: 1px;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.qiang {
    background-color: #f79100;
}

.xieyi {
    padding-left: 20px;
    margin-top: 40px;
    width: 330px;
}

.xieyi a {
    color: #1ba1e6;
}

.xieyi input {
    vertical-align: middle;
    margin-right: 10px;
}

.tijiao {
    margin-top: 30px;
    padding-left: 100px;
}

.tijiao input {
    display: inline-block;
    background-color: #c81623;
    color: #fff;
    height: 34px;
    width: 200px;
    font-size: 14px;
}

.links a {
    margin: 0 3px;
}

.copyright {
    line-height: 20px;
}

.links,
.copyright {
    text-align: center;
    margin-top: 20px;
}